@import '../vendor/boostrapscss/bootstrap'

$color1: #FF7340
$color2: #223F65
$color3: #4FA1F3
$color4: #9CA9BA
$color5: #E9EDEF
$color6: #fff
$color7: #FCFCFD
$color8: #5ED9A5
$color9: #40B584
$color10: #FF616A
$color11: #FF8761

=inputColor($data)
    &::placeholder
        color: $data !important
        opacity: 1

    &:-ms-input-placeholder
        color: $data !important

    &::-ms-input-placeholder
        color: $data !important

@font-face
    font-family: 'Basier Circle'
    src: url('../vendor/font/BasierCircle-Bold.woff2') format('woff2'), url('../vendor/font/BasierCircle-Bold.woff') format('woff')
    font-weight: bold
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Basier Circle'
    src: url('../vendor/font/BasierCircle-Italic.woff2') format('woff2'), url('../vendor/font/BasierCircle-Italic.woff') format('woff')
    font-weight: normal
    font-style: italic
    font-display: swap

@font-face
    font-family: 'Basier Circle'
    src: url('../vendor/font/BasierCircle-SemiBold.woff2') format('woff2'), url('../vendor/font/BasierCircle-SemiBold.woff') format('woff')
    font-weight: 600
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Basier Circle'
    src: url('../vendor/font/BasierCircle-BoldItalic.woff2') format('woff2'), url('../vendor/font/BasierCircle-BoldItalic.woff') format('woff')
    font-weight: bold
    font-style: italic
    font-display: swap

@font-face
    font-family: 'Basier Circle'
    src: url('../vendor/font/BasierCircle-Medium.woff2') format('woff2'), url('../vendor/font/BasierCircle-Medium.woff') format('woff')
    font-weight: 500
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Basier Circle'
    src: url('../vendor/font/BasierCircle-Regular.woff2') format('woff2'), url('../vendor/font/BasierCircle-Regular.woff') format('woff')
    font-weight: normal
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Basier Circle'
    src: url('../vendor/font/BasierCircle-MediumItalic.woff2') format('woff2'), url('../vendor/font/BasierCircle-MediumItalic.woff') format('woff')
    font-weight: 500
    font-style: italic
    font-display: swap

@font-face
    font-family: 'Basier Circle'
    src: url('../vendor/font/BasierCircle-SemiBoldItalic.woff2') format('woff2'), url('../vendor/font/BasierCircle-SemiBoldItalic.woff') format('woff')
    font-weight: 600
    font-style: italic
    font-display: swap


body
    font-family: 'Basier Circle', 'sans-serif'
    font-size: 1rem
    overflow-x: hidden
    background: $color7
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale  
    position: relative
    height: 100%  

html,
body
    overflow-x: hidden

a,
a:hover,
a:focus,
a:active
    text-decoration: none

.transition-3s
    transition: all .3s ease-in-out

.bg-burning
    background: $color1

.bg-cello
    background: $color2

.bg-gullgray
    background: $color4

.bg-athens
    background: $color7

.hover-bg-cello
    &:hover
        background: $color2

.hover-bg-burning
    &:hover
        background: $color1

.text-burning
    color: $color1

.text-cello
    color: $color2
    &:active,
    &:focus
        color: $color2

.text-cornflower
    color: $color3

.text-gullgray
    color: $color4

.text-downy
    color: $color8

.text-oceangreen
    color: $color9

.text-hover-cello
    &:hover,
    &:active,
    &:focus
        color: $color2

.text-hover-burning
    &:hover
        color: $color1

.border-porcelain
    border-color: $color5 !important

.radius-16px
    border-radius: 1rem !important

.radius-12px
    border-radius: .75rem !important

.radius-10px
    border-radius: .625rem !important

.radius-8px
    border-radius: .5rem !important

.fs-10
    font-size: .625rem

.fs-12
    font-size: .75rem

.fs-14
    font-size: .875rem

.fs-16
    font-size: 1rem

.fs-18
    font-size: 1.125rem

.fs-20
    font-size: 1.25rem

.fs-24
    font-size: 1.5rem

.fw-500
    font-weight: 500

.fw-600
    font-weight: 600

.mt-100px
    margin-top: 100px

.mt-260px
    margin-top: 260px

.mb-26
    margin-bottom: 26px !important

.mb-24
    margin-bottom: 24px !important

.mr-26
    margin-right: 26px !important

.mr-24
    margin-right: 24px !important

.mt-16
    margin-top: 16px !important

.mr-10
    margin-right: 10px !important

.my-24
    margin: 24px 0 !important

.py-34
    padding: 34px 0 !important

.py-32
    padding: 32px 0 !important

.mt-25
    margin-top: 25px

.mb-62
    margin-bottom: 62px

.mt--9
    margin-top: -9px

.mt-mobile-180
    @media only screen and (max-width: 991px)
        margin-top: 180px !important

.mw-238
    @media only screen and (min-width: 1199px)
        min-width: 238px

.z999
    z-index: 999

.btn-standart
    width: 160px
    height: 40px
    padding: 0
    line-height: 40px

.btn-static
    height: 60px
    padding: 0
    line-height: 60px

.btn-mobile-w-100
    @media only screen and (max-width: 991px)
        width: 100%
        margin-top: 16px

.top-50px
    top: 50px

.pr-100px
    padding-right: 100px

.pl-70px
    padding-left: 70px
    @media only screen and (max-width: 1199px)
        padding-left: 30px
    @media only screen and (max-width: 991px)
        padding-left: 15px       

.pr-70px
    padding-right: 70px
    @media only screen and (max-width: 1199px)
        padding-right: 30px
    @media only screen and (max-width: 991px)
        padding-right: 0

.lh-28
    line-height: 28px

    
.header
    &.header-2
        .image-area
            .image
                width: 80px
                height: 80px
        .content-area
            .title
                font-size: 1.5rem !important
                @media only screen and (max-width: 991px)
                    font-size: 1.125rem !important
                .marker
                    .icon
                        font-size: 1.25rem
                        @media only screen and (max-width: 991px)
                            font-size: 1rem !important
            .meta
                @media only screen and (max-width: 991px)
                    font-size: .75rem
                .vote
                    font-size: 1.5rem !important
                    @media only screen and (max-width: 991px)
                        font-size: 1.125rem !important
                .btn
                    @media only screen and (max-width: 991px)
                        font-size: .875rem
    &.header-shadow
        box-shadow: 0 0 64px rgba(34, 63, 101, 0.08)
    @media only screen and (max-width: 991px)
        .container
            flex-wrap: wrap
        .right-area
            margin: 20px 0 0 0 !important
            width: 100%
            .btn
                width: 100%
    .image-area
        .image
            width: 120px
            height: 120px
            border-radius: 120px
            @media only screen and (max-width: 767px)
                width: 64px
                height: 64px
                border-radius: 64px
    .content-area
        .stars
            .nav-item
                color: $color1
                margin: 0 2px
        .title
            font-size: 2.25rem
            @media only screen and (max-width: 767px)
                font-size: 1.125rem
            .marker
                .icon
                    font-size: 1.875rem
                    @media only screen and (max-width: 767px)
                        font-size: .875rem
        .meta
            .vote
                font-size: 2rem
                @media only screen and (max-width: 767px)
                    font-size: 1.125rem
                
    .btn-available
        width: 270px
        height: 64px
        line-height: 64px
        @media only screen and (max-width: 767px)
            height: 48px
            line-height: 48px
        
.slider-area
    overflow: hidden
    .slick-list
        overflow: visible
    .slider
        margin: 0 -15px
        @media only screen and (max-width: 991px)
            margin: 0 -8px
        .slide
            padding: 15px
            @media only screen and (max-width: 991px)
                padding: 8px
            img
                width: 100%
                height: 440px
                object-fit: cover
                @media only screen and (max-width: 991px)
                    height: 250px
                @media only screen and (max-width: 580px)
                    width: 300px
                @media only screen and (max-width: 449px)
                    height: 180px
    .slider-buttons
        .left-arrow,
        .right-arrow
            cursor: pointer

.main
    .mobile-hidden
        @media only screen and (max-width: 991px)
            overflow: hidden
    
    #optionsMenu
        @media only screen and (min-width: 991px)
            display: block !important        
    .side-menu
        @media only screen and (max-width: 991px)
            //display: inline-block
            //white-space: nowrap
            //overflow: auto
            position: static !important
            width: 100%
            .inner-wrapper-sticky
                position: static !important
        &.side-other-nav
            @media only screen and (max-width: 991px)
                padding-left: 45px
                margin-bottom: 40px
            .nav-link
                font-size: 1.125rem !important
                height: 63px
                &.active
                    position: relative
                    color: $color2
                    i
                        display: none
                    &:before
                        content: ""
                        position: absolute
                        left: -52px
                        top: 2px
                        background: url('../img/checked.svg')
                        width: 32px
                        height: 32px
                    &:after
                        content: "\64"
                        font-family: 'hotels', 'sans-serif'
                        font-size: .875rem
                        margin-left: 10px
                        vertical-align: middle                        
        .nav-link
            padding: 0 0 32px
            font-weight: 500
            height: 73px
            @media only screen and (max-width: 991px)
                //display: inline-block
                padding: 5px 0 
            i
                margin-right: 24px !important
            &:hover
                .badge
                    color: $color6
                    background: $color2
        .badge
            background: $color5
            color: $color4
        .active
            color: $color2
            i
                display: none
            &:after
                content: "\64"
                font-family: 'hotels', 'sans-serif'
                font-size: .875rem
                margin-left: 10px
                vertical-align: middle
                display: inline-block
                margin-top: -5px

    #overview
        .content
            line-height: 32px

    .rooms
        .room-detail
            border-color: $color5
            .accordion-header
                .accordion-button
                    &:not(.collapsed)
                        background: transparent
                        .btn
                            display: none
                        .thumbnail
                            display: none !important
                        .content
                            margin-left: 0 !important
                    &:after
                        content: none
                .thumbnail
                    width: 70px
                    height: 70px
                    object-fit: cover
                .btn
                    width: 160px
                    height: 40px
                    padding: 0
                    line-height: 40px
            .accordion-body
                .images
                    @media only screen and (max-width: 1399px)
                        overflow: auto
                        display: inline-block !important
                        white-space: nowrap
                        margin: 0 -12px
                        width: 100%
                    .image
                        width: 124px
                        height: 124px
                        object-fit: cover
                        @media only screen and (max-width: 1399px)
                            margin: 0 12px
                            display: inline-block
                        @media only screen and (min-width: 575px) and (max-width: 991px)
                            width: 25%
                            
                .cancellation-date
                    background: rgba(79,161,243,.08)
                    display: inline-block
                    @media only screen and (max-width: 1199px)
                        font-size: .75rem
                        padding: 3px 5px !important
    .map-area
        iframe
            width: 100%
            height: 350px

    #gallery
        .row
            .img-link
                .wide
                    width: 100%
                    height: 350px
                    @media only screen and (max-width: 575px)
                        height: 210px
                .half
                    width: 100%
                    height: 435px
                    @media only screen and (max-width: 575px)
                        height: 265px
                .little
                    width: 100%
                    height: 170px
                    @media only screen and (max-width: 575px)
                        height: 105px

    #rooms
        @media only screen and (max-width: 767px)
            .accordion-button
                flex-direction: column
                align-items: start !important
                .btn
                    width: 100%
                    margin-top: 20px
        @media only screen and (max-width: 575px)
            .bottom
                flex-direction: column
                align-items: start !important
                .right
                    width: 100%
                .btn
                    width: 100%
                    margin-top: 20px

    #reviews
        .reviews
            .review
                margin-bottom: 24px !important
                &:last-child
                    margin-bottom: 0
                .avatar
                    width: 64px
                    height: 64px
                    border-radius: 64px

                .content
                    border-bottom: 1px solid #E9EDEF
                    padding-bottom: 24px !important
                    .text
                        line-height: 28px

    #addReview
        .row
            .mb-3
                margin-bottom: 24px !important
        input[class*="form-control"]
            border-color: $color5
            background: transparent
            height: 48px
            +inputColor($color4)
            &:focus
                border-color: $color1
        .nice-select
            line-height: 38px
            font-size: 1rem
            height: 48px
            background: transparent
            .current
                color: $color4
            .list
                width: 100%
        .points
            //input[type="radio"]:checked ~ input + label
                //background: blue
            //input + label
                //background: #222
            .btn
                border: 1px solid $color5
                width: 48px
                height: 48px
                line-height: 48px
                padding: 0
                color: $color4
                &.very-bad
                    background: $color10
                    border-color: $color10
                    color: $color7
                &.bad
                    background: $color11
                    border-color: $color11
                    color: $color7
                &.normal
                    background: $color8
                    border-color: $color8
                    color: $color7
                &.excellent
                    background: $color9
                    border-color: $color9
                    color: $color7

        textarea[class*="form-control"]
            background: transparent
            border-color: $color5
            resize: none
            +inputColor($color4)
            &:focus
                border-color: $color1            
        .btn-send
            padding: 20px 40px

    #faq
        .accordion-button
            background: transparent
            &:after
                color: $color4
                content: "\52"
                font-family: 'hotels', 'sans-serif'
                background: 0              
            &:not(.collapsed)        
                background: transparent
                i
                    color: $color1
                span
                    color: $color2
                &:after
                    background: 0
        .accordion-body
            padding-left: 60px !important

    .checkinbox
        padding: 35px 25px
        @media only screen and (max-width: 1199px)
            padding: 15px
        .nav
            .nav-item
                &.ps-nav
                    padding-left: 35px
                .icon
                    margin-right: 18px
                    i
                        height: 21px
                        display: inline-block
    .helpbox
        padding: 25px 30px
        font-size: 2.75rem
        @media only screen and (max-width: 1199px)
            padding: 15px

    .room-box
        @media only screen and (max-width: 575px)
            flex-direction: column
            align-items: start !important
            .right
                margin-left: 0 !important
                margin-top: 20px
                width: 100%
                .btn
                    width: 100%
        .thumbnail
            width: 70px
            height: 70px
            object-fit: cover
            margin-right: 24px !important

    .details-box
        padding: 25px
        border: 1px solid $color5
        .cancellation
            background: rgba(79,161,243,.08)
            display: inline-block        

.sidebar-area,
.main-area
    .collapse-area
        .btn
            width: 100%
            text-align: left
            padding: 5px 0
            color: $color4
            &:after
                content: "\52"
                font-family: "hotels", 'sans-serif'
                font-size: .875rem
                float: right
                color: $color4
            &:not(.collapsed)
                color: $color2
                &:after
                    content: "\51"
                    color: $color1




.label-checkbox
    display: block
    position: relative
    padding-left: 35px
    margin-bottom: 12px
    cursor: pointer
    font-size: 22px
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    .text
        font-size: 1rem

.label-checkbox input
    position: absolute
    opacity: 0
    cursor: pointer
    height: 0
    width: 0

.label-checkbox  .checkmark
    position: absolute
    top: 0
    left: 0
    height: 24px
    width: 24px
    border-radius: 4px
    background-color: $color6
    border: 1px solid $color5

.label-checkbox:hover input ~ .checkmark
    background-color: $color6

.label-checkbox input:checked ~ .checkmark
    background-color: $color1

.label-checkbox .checkmark:after
    content: ""
    position: absolute
    display: none

.label-checkbox input:checked ~ .checkmark:after
    display: block

.label-checkbox .checkmark:after
    left: 9px
    top: 6px
    width: 5px
    height: 10px
    border: solid white
    border-width: 0 3px 3px 0
    -webkit-transform: rotate(45deg)
    -ms-transform: rotate(45deg)
    transform: rotate(45deg)

.check-list
    .nav-item
        margin-bottom: 5px
        font-weight: 500
        &:last-child
            margin-bottom: 0
        &:before
            content: "\76"
            font-family: 'hotels', 'sans-serif'
            font-size: .75rem
            margin-right: 4px
        .badge
            background: rgba(79,161,243,.08)
            color: $color3
            border-radius: 10px
            font-weight: 300


.object-cover
    object-fit: cover

.modal-backdrop
    background: url('../img/shadow-bg.png') repeat
    &.show
        opacity: .88

.offcanvas
    padding: 65px
    @media only screen and (max-width: 767px)
        padding: 25px
        .offcanvas-title
            font-size: 1rem
    .btn-close
        min-width: 32px
        width: 32px
        height: 32px
        min-height: 32px
        line-height: 32px
        padding: 0
        text-align: center
        opacity: 1
    .slider-canvas-area
        .prev-arrow,
        .next-arrow
            z-index: 999
            width: 32px
            height: 32px
            line-height: 32px
            text-align: center
            cursor: pointer
            transform: translate(0, -50%)
            &:hover
                background: $color1 !important
                color: $color7 !important
        .prev-arrow
            border-radius: 0 8px 8px 0
        .next-arrow
            border-radius: 8px 0 0 8px
    .slider-canvas
        .slide
            img
                width: 100%
                height: 320px
                @media only screen and (max-width: 767px)
                    height: 200px

    input[class*="form-control"]
        border-color: $color5
        background: transparent
        height: 48px
        +inputColor($color4)
        &:focus
            border-color: $color1
        


.datepicker.active
    z-index: 9999999 !important

#galleryOne
    overflow: hidden
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    opacity: 0    
    z-index: -9999
    &.show
        opacity: 1
        z-index: 9999
    .content
        border-radius: 24px
        @media only screen and (max-width: 991px)
            width: 75% !important
        .btn-close
            width: 48px
            height: 48px
            top: -24px
            right: -24px
            border-radius: 48px
            line-height: 48px
            z-index: 99999
            opacity: 1
            text-align: center
    .gallery-top-area
        .prev-arrow,
        .next-arrow
            width: 64px
            height: 64px
            line-height: 64px
            text-align: center
            font-size: 1.125rem
            z-index: 9999
            cursor: pointer
            @media only screen and (max-width: 1199px)
                width: 44px
                height: 44px
                line-height: 44px
            &:hover
                background: $color1 !important
                color: $color7 !important
        .prev-arrow
            border-radius: 0 8px 8px 0
        .next-arrow
            border-radius: 8px 0 0 8px
    .gallery-for
        border-radius: 12px 12px 0 0 !important
        overflow: hidden
        .slide
            .image
                width: 100%
                height: 500px
                object-fit: cover
                @media only screen and (max-width: 1199px)
                    height: 350px
                @media only screen and (max-width: 579px)
                    height: 250px
    .gallery-nav
        padding: 55px
        @media only screen and (max-width: 1399px)
            padding: 25px
        @media only screen and (max-width: 579px)
            padding: 15px
        .slick-track
            @media only screen and (min-width: 1400px)
                transform: none !important
             
        .slide
            padding: 12px
            &.slick-current
                .image
                    border-color: $color1
            .image
                width: 100%
                height: 80px
                object-fit: cover
                border-radius: 12px
                border: 3px solid transparent          
                cursor: pointer      


#galleryTwo
    overflow: hidden
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    opacity: 0    
    z-index: -9999
    &.show
        opacity: 1
        z-index: 99999
    .btn-close
        width: 48px
        height: 48px
        top: 64px
        right: 64px
        border-radius: 48px
        line-height: 48px
        z-index: 99999
        opacity: 1
        text-align: center
    .gallery-top-area
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        .prev-arrow,
        .next-arrow
            width: 64px
            height: 64px
            line-height: 64px
            text-align: center
            font-size: 1.125rem
            z-index: 9999
            cursor: pointer
            transform: translate(0, -50%)
            &:hover
                background: $color1 !important
                color: $color7 !important
        .prev-arrow
            border-radius: 0 8px 8px 0
        .next-arrow
            border-radius: 8px 0 0 8px        
        .gallery-for
            .slide
                .image
                    width: 100%
                    height: 100vh
                    object-fit: cover
    .gallery-nav
        position: absolute
        z-index: 99
        bottom: 70px
        display: flex
        justify-content: center
        align-items: center
        width: 100%   
        .slick-track
            transform: none !important             
        .slide
            padding: 12px
            &.slick-current
                .image
                    border-color: $color1            
            .image
                width: 80px
                height: 80px
                object-fit: cover
                border-radius: 12px
                border: 3px solid transparent          
                cursor: pointer      


.shadow
    display: none
    transition: all .2s ease-in-out
    background: $color2
    opacity: .88
    &.show
        display: block

#infoOffCanvas,
#checkPrices
    @media only screen and (max-width: 991px)
        width: 100% !important

.form-gen-control
    height: 48px
    border-radius: 8px
    border: 1px solid $color5
    +inputColor($color4)
    background: transparent
    &:focus
        border-color: $color1
        background: transparent

.btn-radio-label
    border: 1px solid $color5
    height: 48px
    border-radius: 8px
    line-height: 48px
    padding: 0 20px
    &:hover
        color: $color1
        border-color: $color1

.btn-radio-check
    &:checked + .btn-radio-label
        border-color: $color1
        color: $color1

.flex-50
    flex: 50%

.visibility-hidden
    visibility: hidden

.nice-select
    line-height: 38px !important
    font-size: 1rem !important
    height: 48px !important
    background: transparent !important
    .current
        color: $color4 !important
    .list
        width: 100% !important

.h-48
    height: 48px
    line-height: 48px

.transform-centered
    transform: translate(-50%, -50%)

.selects-box-area
    margin: 30px 0
    @media only screen and (max-width: 1399px)
        white-space: nowrap
        width: 100%
        overflow-x: auto
        overflow-y: hidden
    .checkbox
        display: none
    input[type=checkbox]:checked + label
        color: $color1
        border-color: $color1
    input[type=checkbox] + label
        color: $color4
        padding: 0 10px
        border: 1px solid $color5
        border-radius: 8px
        height: 48px
        line-height: 48px
        margin-right: 10px
        flex: 50%
        text-align: center
        cursor: pointer
        user-select: none
        &:last-child
            margin-right: 0
            
.list-hotel
    .item-hotel
        .content
            .title-area
                margin-top: -5px
            .summary
                p
                    &:last-child
                        margin-bottom: 0
        @media only screen and (max-width: 767px)
            flex-direction: column
            width: 100%
            .content
                margin-left: 0 !important
                margin-top: 25px
            .btn
                margin-top: 20px !important
                display: inline-block
                width: 100%
        .link-hotel
            img
                width: 270px
                height: 270px
                min-width: 270px
                @media only screen and (max-width: 1399px)
                    width: 200px
                    height: 100%
                    min-width: 200px
                @media only screen and (max-width: 767px)
                    width: 100%
                    height: 270px
                    
        .other-selects
            overflow: auto
            white-space: nowrap
            width: 100%

.main
    .title-area
        color: $color2
        display: flex
        align-items: center
        margin-bottom: 16px !important
        i
            font-size: 20px
            margin-top: 5px

.accordion-area
    .accordion-item
        .item-content
            display: none
        input
            display: none
        label
            user-select: none 
            padding: 15px 25px
            position: relative
            &:after
                content: "\52"
                font-family: 'hotels', 'sans-serif'
                right: 25px
                top: 50%
                transform: translate(0, -50%)
                position: absolute
                color: $color4
        input:checked + label
            i
                color: $color1 !important
            span
                color: $color2 !important 
            &:after
                content: "\51"
        input:checked ~ .item-content
            display: block
        .item-content
            padding: 0 50px 16px 65px
            margin-top: -10px
-
.btn-menu-mobile
    background: $color2
    color: $color7
    height: 50px
    line-height: 50px
    padding: 0

    &:hover
        color: $color7