@charset "UTF-8";

/* hotels */
@font-face {
  font-family: "hotels";
  src:url("../fonts/1622929217.eot");
  src:url("../fonts/1622929217.eot?#iefix") format("embedded-opentype"),
    url("../fonts/1622929217.woff") format("woff"),
    url("../fonts/1622929217.ttf") format("truetype"),
    url("../fonts/1622929217.svg#1622929217") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "hotels" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "hotels" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\61";
}
.icon-marker:before {
  content: "\62";
}
.icon-bubble:before {
  content: "\63";
}
.icon-chevron-right:before {
  content: "\64";
}
.icon-right-arrow:before {
  content: "\65";
}
.icon-left-arrow:before {
  content: "\66";
}
.icon-support:before {
  content: "\67";
}
.icon-question:before {
  content: "\68";
}
.icon-out:before {
  content: "\69";
}
.icon-in:before {
  content: "\6a";
}
.icon-image:before {
  content: "\6b";
}
.icon-heart:before {
  content: "\6c";
}
.icon-dots:before {
  content: "\6d";
}
.icon-door:before {
  content: "\6e";
}
.icon-bed:before {
  content: "\6f";
}
.icon-bag:before {
  content: "\70";
}
.icon-bathroom:before {
  content: "\71";
}
.icon-building:before {
  content: "\72";
}
.icon-buildings:before {
  content: "\73";
}
.icon-cabinet:before {
  content: "\74";
}
.icon-car:before {
  content: "\75";
}
.icon-check:before {
  content: "\76";
}
.icon-confirm:before {
  content: "\77";
}
.icon-cup:before {
  content: "\78";
}
.icon-cutlery:before {
  content: "\79";
}
.icon-design:before {
  content: "\7a";
}
.icon-pacman:before {
  content: "\41";
}
.icon-obstacle:before {
  content: "\42";
}
.icon-marker-2:before {
  content: "\43";
}
.icon-smile:before {
  content: "\44";
}
.icon-secure:before {
  content: "\45";
}
.icon-key:before {
  content: "\46";
}
.icon-racket:before {
  content: "\47";
}
.icon-plane:before {
  content: "\48";
}
.icon-phone:before {
  content: "\49";
}
.icon-guest:before {
  content: "\4a";
}
.icon-pet:before {
  content: "\4b";
}
.icon-park:before {
  content: "\4c";
}
.icon-panda:before {
  content: "\4d";
}
.icon-devices:before {
  content: "\4e";
}
.icon-wifi:before {
  content: "\4f";
}
.icon-slider:before {
  content: "\50";
}
.icon-chevron-up:before {
  content: "\51";
}
.icon-chevron-down:before {
  content: "\52";
}
.icon-exit:before {
  content: "\53";
}
.icon-chevron-left:before {
  content: "\54";
}
.icon-female:before {
  content: "\55";
}
.icon-male:before {
  content: "\56";
}
